body
{
	/*background:red !important;*/
}

input.user_grade
{
	width: 30px;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

thead
{
	font-weight:bold;
	text-transform: uppercase;
}

tbody tr:first-child td
{
	border-top:0;
}

.table th,
.table td
{
	vertical-align: middle;
}

tbody input
{
	margin-bottom: 0 !important;
	background: rgba(255,255,255,0.75) !important;
}

.user-where
{
	font-size: 11px;
	color: #999;
}

.in-moodle
{

}

.table-prevaluation-user tbody td:last-child
{
	font-size:11px;
}

.table-prevaluation-user .user-badge
{
	border-radius: 2px;
	padding:3px 6px;
	background-color:rgba(225,225,225,0.5);
	color:#999;
}

.pending-in-moodle
{
	background-color:rgba(255,150,0,0.1);
}

.pending-in-moodle .user-badge
{
	background-color:rgba(255,150,0,0.5);
	color:#fff;
}

.pending-not-in-moodle,
.not-in-moodle
{
	background-color:rgba(255,0,0,0.1);
}

.in-moodle.user-with-errors
{
	background-color:rgba(255,255,0,0.2);
}

.checkbox_control
{
	position:relative;
}

.checkbox_control:after
{
	display: inline-block;
    width: 25px;
    height: 20px;
    font-family: FontAwesome;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.user-where
{
	display:flex;
	width:30px;
	justify-content: flex-start;
	align-content: center;
}

/*
.not-in-moodle .checkbox_control:after
{
	content:"\f007";
	color:red;
}

.in-moodle .checkbox_control:after
{
	content:"\f007";
	color:green;
}

.in-moodle.user-with-errors .checkbox_control:after
{
	content:"\f007";
	color:orange;
}
*/
.in-moodle.user-with-errors .user-where:after
{
	content: "#";
    font-size: 15px;
    color: orange;
    margin-left: -2px;
    margin-top: -2px;
}
.in-moodle.user-with-errors .user-where i
{
	color:orange !important;
}

.pending-not-in-moodle .user-badge
{
	background-color:rgba(255,0,0,0.5);
	color:#fff;
}

.enrolled
{
	background-color:rgba(0,255,0,0.1);
}

#fitem_id_action
{
	display: flex;
	align-content: flex-start;
	justify-content: flex-start;
}

#fitem_id_action *
{
	text-align: left;
	width:auto;
}

#fitem_id_action .fselect
{
	margin-left:32px;
}

#pending_save,
#pending_submit
{
	width:145px;
	margin-top:16px;
}

.checkbox_control
{
	text-align: right !important;
}

.toggle_checkbox 
{

}

.toggle_checkbox td
{
	border-top: 0px;
	text-align:right;
}

#page-mod-prevaluation-index .legend
{
    font-weight: 100;
	font-style: italic;
}

.waiting-legend > span
{
	display:flex;
	padding:4px 6px;
    align-items: center;
    justify-content:flex-start;
    max-width:260px;
}

.waiting-legend .in-moodle.user-with-errors span
{
	margin-right: 5px;
	margin-left: -15px;
}

.waiting-legend span i
{
	margin-left:0 !important;
	margin-right:8px;
}

#mform2 .fa-user-times
{
	color:red;
}

#mform2 .fa-user
{
	color:green;
}

.user-where-wrapper
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
}
.user-where-wrapper input
{
	margin:0 !important;
}
.user-where
{
	margin-right:12px;
}



#page-mod-prevaluation-index #id_general > .fcontainer
{
	text-align:center;
}

#page-mod-prevaluation-index #fitem_id_action
{
	float:left;
	margin-left:8px;
}

#page-mod-prevaluation-index #id_general #pending_submit
{
    float: left;
    margin-top: 0;
    margin-left: 2rem;
}

#page-mod-prevaluation-index #id_general #pending_save
{
    margin: auto;
    margin-top:2rem;
}